<h2> Log </h2>

<% if flash[:notice].present? %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<div class="log-container">
<!-- Note: pad this out and setup for use as container for the 7 columns -->

  <% fake_activities = ["basketball", "sleep", "school"] %>
  <% fake_scores = [-1, 0, 1] %>
        <div class="timescol" style="width: 3.5%; position: absolute; height: 100%;">
	        <div style="height:60px;"></div>
	        <div style="" class="timeunit">12:00am</div>
	        <div style="" class="timeunit">12:30am</div>
	        <div style="" class="timeunit">1:00am</div>
	        <div style="" class="timeunit">1:30am</div>
	        <div style="" class="timeunit">2:00am</div>
	        <div style="" class="timeunit">2:30am</div>
	        <div style="" class="timeunit">3:00am</div>
	        <div style="" class="timeunit">3:30am</div>
	        <div style="" class="timeunit">4:00am</div>
	        <div style="" class="timeunit">4:30am</div>
	        <div style="" class="timeunit">5:00am</div>
	        <div style="" class="timeunit">5:30am</div>
	        <div style="" class="timeunit">6:00am</div>
	        <div style="" class="timeunit">6:30am</div>
	        <div style="" class="timeunit">7:00am</div>
	        <div style="" class="timeunit">7:30am</div>
	        <div style="" class="timeunit">8:00am</div>
	        <div style="" class="timeunit">8:30am</div>
	        <div style="" class="timeunit">9:00am</div>
	        <div style="" class="timeunit">9:30am</div>
	        <div style="" class="timeunit">10:00am</div>
	        <div style="" class="timeunit">10:30am</div>
	        <div style="" class="timeunit">11:00am</div>
	        <div style="" class="timeunit">11:30am</div>
	        <div style="" class="timeunit">12:00pm</div>
	        <div style="" class="timeunit">12:30pm</div>
	        <div style="" class="timeunit">1:00pm</div>
	        <div style="" class="timeunit">1:30pm</div>
	        <div style="" class="timeunit">2:00pm</div>
	        <div style="" class="timeunit">2:30pm</div>
	        <div style="" class="timeunit">3:00pm</div>
	        <div style="" class="timeunit">3:30pm</div>
	        <div style="" class="timeunit">4:00pm</div>
	        <div style="" class="timeunit">4:30pm</div>
	        <div style="" class="timeunit">5:00pm</div>
	        <div style="" class="timeunit">5:30pm</div>
	        <div style="" class="timeunit">6:00pm</div>
	        <div style="" class="timeunit">6:30pm</div>
	        <div style="" class="timeunit">7:00pm</div>
	        <div style="" class="timeunit">7:30pm</div>
	        <div style="" class="timeunit">8:00pm</div>
	        <div style="" class="timeunit">8:30pm</div>
	        <div style="" class="timeunit">9:00pm</div>
	        <div style="" class="timeunit">9:30pm</div>
	        <div style="" class="timeunit">10:00pm</div>
	        <div style="" class="timeunit">10:30pm</div>
	        <div style="" class="timeunit">11:00pm</div>
	        <div style="" class="timeunit">11:30pm</div>

        </div>
  <div class="logshift" style="width: 95%; position: relative; left: 5%;">
	  <%= week_calendar do | date | %>
	  <div> <%= date %> </div>
	    <% @block = date.beginning_of_day %>
	    <% until (@block >= date.end_of_day) %>
	      <!-- <div> <%= @block.strftime('%l:%M%p') %></div> -->
	      <!--Rendering for the text field that takes our selectize content -->
	      <div class="control-group">
	      
	      <%events = find_events(@block) %>
	        
	        <%= text_field( "", "#{@block.strftime('%Y%m%d%H%M')}", {type: 'text', class: 'demo-default', value: "#{events}"}) %>
	        <!--<input type="text" id="input-tags" class="demo-default" value="awesome,neat"> -->
	      </div>
   </div>  
      
      <!-- Javascript for our selectize function -->
      <script>

      // ajax call for updating our timeblock
      var updateTimeBlock = function(isAddingBlock) {
        return function() {
          $.ajax({
            type: "PATCH",
            data: {time_block: { start_time: "<%=@block%>", events: arguments[0], add_timeblock: isAddingBlock }},
            dataType: "json",
            url: "/time_blocks"
          });
        }; 
      };
      
      //
        var $select = $('#_<%=@block.strftime('%Y%m%d%H%M')%>').selectize({
          create: true,
          onItemAdd : updateTimeBlock(true),
          onItemRemove : updateTimeBlock(false)
          });
      </script>
      <% @block += 30.minutes %>
    <% end %>
  <% end %>
  
</div>