/* Test styles only - to be replaced with styles under application.css or otherwise after adding bootstrap/foundation */

.main {
	background-color: none;
}

.header {
	background-color: #dddddd;
}
.menu2-link {
	float: right;
}
.panel {
	background-color: #aaaaaa;
}
.panel-right {
	background-color: #aaaaaa;
}
.footer {
	color: #ffffff;
	background-color: #444444;
}
td.day {
	width: 14.25%;
	max-width: 14.25%;
	max-height: 55px;
	height: 55px;
	overflow-x:scroll;
	overflow-y: scroll;
}
table {
	width: 100%;
}

div.selectize-input.items {
	overflow-y: scroll;
	height: 50px;
}


/* Possibly removing after adding integrating times into selectize.js table */

.timeunit {
	height: 55px;
	padding-top: 2px;
}