<!DOCTYPE html>
<html>
<head>

  <title>Sparkplug</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<div id="menu" class="panel" role="navigation">
	    <ul>
	        <li><a href="#">Example</a></li>
	        <li><a href="#">Example 2</a></li>
	        <li><a href="#">Example 3</a></li>
	        <li><a href="#">Example 4</a></li>
	    </ul>
	</div>
	<div id="menu2" class="panel-right" role="navigation">
	    <ul>
	        <li><a href="#">test</a></li>
	        <li><a href="#">test 2</a></li>
	        <li><a href="#">test 3</a></li>
	        <li><a href="#">test 4</a></li>
	    </ul>
	</div>
	<div class="header wrap push">
		<div class="container">
			<a href="#menu" class="menu-link">&#9776; Menu</a>
			<a href="#menu2" class="menu2-link">&#9776; To-do</a>

			<h1>sparkplug</h1>
		</div>
	</div>
	
	<div class="container">
		<div class="wrap push">
			<!-- notice for things :P -->
			<% if notice %>
		  	<p class="alert alert-success"><%= notice %></p>
			<% end %>
			<% if alert %>
		 		<p class="alert alert-danger"><%= alert %></p>
			<% end %>
		</div>
	</div>

	<div class="container">
		<p class="navbar-text pull-right">
			<% if user_signed_in? %>
		  	Logged in as <strong><%= current_user.email %></strong>.
		  	<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
		  	<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
		  	<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
		  	<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
		</p>
	</div>
		
	<div class="container">
		<div class="main wrap push">
			<%= yield %>
		</div>
	</div>
	
	<div class="footer wrap push">
		<div class="container">
			<p><em>Footer placeholder text</em></p>
			<br>
		</div>	
	</div>

<script>
    $(document).ready(function() {
        $('.menu-link').bigSlide();
        $('.menu2-link').bigSlideR();
    });
</script>
</body>
</html>
